{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}罗凌峰{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>我的博客</h2>
        <p>This is My blog. I've written<b style="font-size: 28px; color: #953b39"> {% total_post %}</b> posts so far. </p>
    </div>
</body>
</html>