{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <!--头像-->
    <div class="profile-info">
        {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
    </div>
    <!--第二部分-->
        <span class="count">
            <span class="total">{{ count }}</span>
        follower{{ count|pluralize }}
        </span>
        <!--显示用户是收藏还是取消收藏的按钮-->
        <a href="#", data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
            {% if request.user not in user.followers.all %}
                Follow
            {% else %}
                Unfollow
            {% endif %}
        </a>
        <!--这个用户创建的所有图片信息-->
        <div id="image-list" class="image-container">
            {% for image in user.images_created.all %}
                <div class="image">
                    <a href="{{ image.get_absolute_url }}">
                        {% thumbnail image.image "300x300" crop="100%" as im %}
                            <a href="{{ image.get_absolute_url }}">
                                <img src="{{ im.url }}">
                            </a>
                        {% endthumbnail %}
                    </a>
                    <div class="info">
                        <a href="{{ image.get_absolute_url }}" class="title">{{ image.title }}</a>
                    </div>
                </div>
            {% empty %}
                <li>Sorry, no athlete in this list!</li>
            {% endfor %}
        </div>
{% endblock %}


{% block domready %}
     $('a.follow').click(function(e){
       e.preventDefault();
       $.post('{% url "accounts:user_follow" %}',
        // post的 data数据
        {
           id: $(this).data('id'),
           action: $(this).data('action')
         },
         // post的回调函数

         function(data){
           if (data['status'] == 'ok') {
             //如果返回的status == ok，代表处理正确
             //var previous_action = $('a .follow').data('action'); //错误的版本
             var previous_action = $('a.follow').data('action');  //取出上一次的事物
             // toggle data-action 切换data-action数据
             //$('a .follow').data('action', previous_action ='follow'?'unfollow':'follow'); //错误的版本
             $('a.follow').data('action',previous_action == 'follow' ? 'unfollow' : 'follow'); //切换data-action数据
             // toggle link text 切换链接上面的文字
             //$('a .follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow'); //错误的版本
             $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');  //切换链接上面的文字
             // update total followers 更新总计的关注者数量
             var previous_followers = parseInt($('span.count .total').text());
             $('span.count .total').text(previous_action == 'follow' ?previous_followers + 1 : previous_followers - 1);
            alert('我是正确处理后的结果')
            }
           //如果状态是 ko
            else {
                alert('处理错误了,返回了错误信息!')
            }
        });
     });
{% endblock %}
